# Rust build files
/target
/Cargo.lock
/*/target
/*/Cargo.lock

# C# Visual Studio projects (common)
.vs/
/*.*/obj
/*.*/riri_hook

/*/incl/
/*/middata/
*.g.cs

# Script output
/scripts/*.txt
/scripts/__pycache__

# Build script 
/buildscript/*/bin
/buildscript/*/obj

# Jetbrains IDE
.idea/

# See sample script in SetEnv.ps1
/SetEnv.local.ps1
/env.local.yaml